<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.llamastackandroiddemo">

    <uses-sdk
        android:maxSdkVersion="40"
        android:minSdkVersion="28"
        android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".AppLogging"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="34">
        <activity
            android:name=".LogsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <uses-native-library
            android:name="libcdsprpc.so"
            android:required="false" />

        <uses-native-library
            android:name="libapuwareutils_v2.mtk.so"
            android:required="false" />

        <uses-native-library
            android:name="libapuwareapusys_v2.mtk.so"
            android:required="false" />

        <uses-native-library
            android:name="libnir_neon_driver_ndk.mtk.so"
            android:required="false" />

        <uses-native-library
            android:name="libnir_neon_driver_ndk.mtk.vndk.so"
            android:required="false" />

        <uses-native-library
            android:name="libcmdl_ndk.mtk.vndk.so"
            android:required="false" />

        <uses-native-library
            android:name="libcmdl_ndk.mtk.so"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity>

    </application>

</manifest>
